.header_bg{
    height:43px;
    background-color: #F5F5F5;
}
.sellonjumia{
    margin-left: 65px;
    margin-top:10px;
}
.sellonjumia2{
    margin-left: 98px;
    margin-top:-19px;
    font-size:11.8px;
    font-weight: bold;
    color:#F5A51E;
} 